USE [Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_Transactions]    Script Date: 11/29/2025 5:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Transactions]
	@SenderContactId INT,
	@ReceiverContactId INT,
	@Amount MONEY,
	@Flag VARCHAr(100),
	@ResponseCode INT OUTPUT
AS
BEGIN
IF @Flag='CreateTransactions'
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			IF @Amount <=0 OR @SenderContactId <=0 OR @ReceiverContactId <=0
			BEGIN
				SET @ResponseCode ='102'
				INSERT INTO Error(Error_Id, Error_Message)
				VALUES('102', 'Invalid Transaction Parameters')
				COMMIT TRANSACTION
				RETURN
			END

			IF NOT EXISTS(SELECT TOP 1 'X' FROM Contacts WHERE Id = @SenderContactId)
			BEGIN
				SET @ResponseCode ='103'
				INSERT INTO Error(Error_Id, Error_Message)
				VALUES('103', 'Invalid Sender Contact ID')
				COMMIT TRANSACTION
				RETURN
			END

			IF NOT EXISTS(SELECT TOP 1 'X' FROM Contacts WHERE Id = @ReceiverContactId)
			BEGIN
				SET @ResponseCode ='104'
				INSERT INTO Error(Error_Id, Error_Message)
				VALUES('104', 'Invalid Destination Contact ID')
				COMMIT TRANSACTION
				RETURN
			END

			INSERT INTO Transactions (SenderContactId, ReceiverContactId, Amount) 
			VALUES (@SenderContactId, @ReceiverContactId, @Amount)
			SET @ResponseCode ='100'
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
	    ROLLBACK TRANSACTION
		SET @ResponseCode ='101'
		INSERT INTO Error(Error_Id, Error_Message)
		VALUES('101', ERROR_MESSAGE())
	END CATCH
END
END
